.continer{
	width:80%;
	margin:auto;
}
.d-flex{display:flex;}
.justify-content-between {justify-content: space-between;}
.align-items-center{align-items:center;}
.reset-ul{padding:0; margin:0;list-style: none;}
.text-center{text-align:center;}
.section-heading{
	margin-bottom:20px;
}
.section-heading .subtitle{color:#FFCB45;display:block;padding-top:40px; }
.section-heading p{color:#1D1D1D; margin:auto; max-width:40%;}

a {text-decoration:none;}

body{
	margin:0px;
	

}

.btn-link{
	background:#FFCB45;
	display:inline-block;
	padding:10px 20px;
	border-radius:30px;
	display:inline-flex;
	align-items:center;
	color:#1D1D1D;
	
}
.btn-link svg{
	margin-right:8px;
	
}
.header{
	position:fixed;
	width:100%
}
.header-menu li a{
	color:#1D1D1D;
	margin:0 15px;
	position:relative;
	display:block;
	transition : all .5s;
}
.header-menu li a:after{transition : all .5s; content:""; bottom:-30px}
.header-menu li a:hover,
.header-menu li a.active{color:#000;}
.header-menu li a:hover:after,
.header-menu li a.active:after{
	content:"";
	height:4px;
	background:#FFCB45;
	display:block;
	border-radius:4px;
	position:absolute;
	bottom:-6px;
	width:100%;
	
	
}
.header-btns > div{margin-left:15px}

.header-btns .cart{position:relative;}
.header-btns .cart .count-cart{
	width:15px;
	display:block;
	height:15px;
	background:#FFCB45;
	border-radius:50%;
	font-size:12px;
	text-align:center;
	position:absolute;
	top:-5px;
	right:-5px;
	line-height:16px
	
}

.hero{
	background-image:url(../img/shapes.png);
	background-repeat:no-repeat;
	background-size:cover;
	
}

.right-content img{
    margin-top: 50px;
}
.menus{gap:15px;}
.menus .menu{
	box-shadow :0 0 8px #00000024;
    border-radius:10px;
	background:#F1F1F1;
	overflow:hidden;
	width:24%;
	
}
.menus .menu img{background:#F1F1F1;}

.menus .menu .content{
	background:white;
	padding:15px 15px 8px;
	border-radius:60px 60px 0 0;
}
.menus .menu .content p, .menus .menu .content h3{
	margin:10px 0;
	margin-top:0;
}
.sign-up,
.more-menu {
	background: #FFCB45;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 30px;
    display: inline-flex;
    align-items: center;
    color: #1D1D1D;
	margin-top:40px;
}
.what-the-say{padding-top:40px;}
..what-the-say .images{width:40%;}
..what-the-say .content{width:60%;}
.data-user_say {gap:10px;}
.data-user_say img{
	height:60px;
	width:60px;
	border-radius:50%;
	
}
.data-user_say h3{margin-top:0 ;margin-bottom:5px;}

 .say{
	background:#F1F1F1;
	padding:15px;
	border-radius:15px;
}
.join-our-member{
	background-image:url(../img/unsplash_2lWGQ02DGL8.png);
	padding-bottom:40px;
	
}
.join-our-member h2{
	color:#FFFFFF;
	font-size:32px;
	padding-top:80px;
}
.footer{
	background-image:url(../img/Bg-Image.png);
	padding:100px 0;
	margin-top:50px;
}
..social-media{gap:10px;}
.social-media a{
	width:45px;
	height:50px;
	background:#FFF;
	border-radius:50%;
	text-align:center;
	display:flex;
	align-items:center;
	justify-content:center;
}
.footer ul li a{
	color:#1D1D1D;
	display:block;
	margin-bottom:15px;
}
